.PlayersList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;  
}
.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    padding: 20px;
  }

  .Player-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  .title {
    text-align: center;
    padding: 10px 0px;
    border: 0.8px solid rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    margin: 30px;
}

  .Player-card {
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  
  .Player-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px white , 0px -5px 10px white;
    opacity: 1;
  }
  
  .Player-card img {
    width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  
  .Player-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10px;
    color: #333;
  }
  
  .Player-card .card-text {
    font-size: 1rem;
    margin: 0 10px 10px;
    color: #555;
  }

  .Player-card .card-text span {
    font-weight: bold;
    color: #333;
  }

  .Player-card .card-title {
    color: #333;
    margin: 10px;
  }
  